<div id="main" class="main">
  <h4>Listado de Inscritos</h4>
  <div class="card-body" *ngIf="(user.isAdmin || user.isEjecutivo)">
    <form class="row g-3">
       <div class="col-md-4">
        <select class="form-select form-select-sm"
              name="distrito" [(ngModel)]="distrito"placeholder="Distrito">
        <option value="" selected>Seleccionar todos</option>
        <option value="1">Occidente</option>
        <option value="2">Centro Oeste</option>
        <option value="3">Centro Este</option>
        <option value="4">Oriente Norte</option>
        <option value="5">Oriente Sur</option>
      </select>
      </div>
       <div class="col-md-4">
        <select class="form-select form-select-sm"
              name="provincia" [(ngModel)]="provincia" placeholder="Provincia">
              <option value="">Seleccionar todos</option>
              <option *ngFor="let provincia of provincias|filtrar:distrito" [ngValue]="provincia.id">
                {{ provincia.nombre }}
              </option>
      </select>
      </div>
       <div class="col-md-4">
        <select class="form-select form-select-sm"
              name="presbiterio"[(ngModel)]="presbiterio" placeholder="Presbiterio">
              <option value="">Seleccionar todos</option>
              <option *ngFor="let presbiterio of presbiterios|filtrar:provincia:'provincia'" [ngValue]="presbiterio.id">
                {{ presbiterio.nombre }}
              </option>
      </select>
      </div>
        <div class="row g-2">
         <div class="col-sm-12">
          <input type="search" class="form-control form-control-sm" placeholder="Buscar nombre" [(ngModel)]="buscar" name="search">
        </div>
      </div>
    </form>
 </div>


  <div class="table-responsive">
  <table class="table table-striped table-sm bodyTable">
  <thead class="headTable">
    <tr >
      <th scope="col">accion</th>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Sex</th>
      <th scope="col">CI</th>
      <th scope="col">Celular</th>
      <th scope="col">Email</th>
      <th scope="col">Categoria</th>
      <th scope="col">Función</th>
      <th scope="col">Distrito</th>
      <th scope="col">Provincia</th>
      <th scope="col">Presbiterio</th>
      <th scope="col">hospedaje</th>
      <th scope="col">Confirmado</th>
    </tr>
    </thead>
    <div class="spinner-border m-5" role="status" *ngIf="isLoading">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <tbody>
      <tr *ngFor="let inscrito of inscritos|filtrarInscritos:distrito:provincia:presbiterio|buscarNombres:buscar; let even = even; let odd = odd; ">
        <td>
          <!-- <button type="button" class="btn btn-link"><i class="fa fa-trash"></i></button> -->
          <div class="dropdown">
            <button class="btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li style="cursor:pointer;"><a class="dropdown-item" (click)="cancelarInscripcion(inscrito)">Cancelar Inscripción</a></li>
              <li style="cursor:pointer;"><a class="dropdown-item" [routerLink]="['template/basicos']" [queryParams]="inscrito" >Editar información</a></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </div>

        </td>
        <td>{{inscrito.fecha | date:'d/M/yy'}}</td>
        <td>{{inscrito.nombre}}</td>
        <td>{{inscrito.genero}}</td>
        <td>{{inscrito.ci}}</td>
        <td>{{inscrito.celular}}</td>
        <td>{{inscrito.email}}</td>
        <td>{{inscrito.categoria}}</td>
        <td>{{inscrito.funcion}}</td>
        <td>{{inscrito.distrito}}</td>
        <td>{{inscrito.provincia}}</td>
        <td>{{inscrito.presbiterio}}</td>
        <td>{{inscrito.hospedajeId}}</td>
        <td>{{inscrito.isConfirmado | boolean}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <div class="alert alert-secondary alert-dismissible fade show" role="alert"> Total de Inscripciones: {{inscritos | filtrarInscritos:distrito:provincia:presbiterio | buscarNombres:buscar | arrayLength}} / {{inscritos.length}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
</div>
</div>

