
<div id="main" class="row main">
  <div class="row">
  <h2>Inscripción</h2>
  <hr>
  <!-- <div>
  <button class="btn btn-danger float-end" (click)="cerrarSession()">Cerrar Session</button>
  </div> -->
</div>
    <div class="col">

        <form (ngSubmit)="guardar()"
              #miFormulario="ngForm"
              autocomplete="off">

            <div>
              <label class="col-sm-3 col-form-label fw-bold">Informacion personal</label>
            </div>
            <!-- Campo de Nombre -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre</label>

                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           [(ngModel)]="initForm.nombre"
                           name="nombre"
                           placeholder="Nombre Completo"
                           required
                           minlength="3">

                    <span class="form-text text-danger"
                        *ngIf="nombreValido()">
                        Debe introducir el nombre completo
                    </span>
                </div>
            </div>

            <!-- Campo de Carnet id -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Carnet Identidad</label>

              <div class="col-sm-9">
                  <input type="text"
                         class="form-control"
                         [(ngModel)]="initForm.ci"
                         name="ci"
                         placeholder="El CI es de 11 dígitos"
                         required
                         minlength="11"
                         maxlength="11"
                         >

                  <span class="form-text text-danger"
                      *ngIf="ciValido()">
                      Debe introducir un # de identidad de 11 digitos
                  </span>
              </div>
             <!--  <div row-sm-3>
                <button class="btn btn-danger float-end" (click)="comprobar()">Comprobar CI</button>
              </div>
 -->
          </div>

          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Género</label>
            <div class="col-sm-9">

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           value="M"
                           [(ngModel)]="initForm.genero"
                           name="radioGenero"
                           id="radioMasculino"
                           required>
                    <label class="form-check-label" for="radioMasculino">
                      Masculino
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           value="F"
                           [(ngModel)]="initForm.genero"
                           name="radioGenero"
                           id="radioFemenino"
                           required>
                    <label class="form-check-label" for="radioFemenino">
                      Femenino
                    </label>
                </div>

            </div>
          </div>

            <!-- Campo de Celular -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Teléfono Móvil</label>

              <div class="col-sm-9">
                  <input type="tel"
                         class="form-control"
                         [(ngModel)]="initForm.celular"
                         name="celular"
                         placeholder="Introduzca su número de teléfono celular"
                         required
                         >
                  <span class="form-text text-danger"
                      *ngIf="celularValido()">
                      Número de telefono incorrecto. Revise bien.
                  </span>
                  <span class="form-text">
                      Ej. 52412536 o +5352412536
                  </span>

              </div>
          </div>

            <!-- Campo de Carnet Email -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Email</label>

              <div class="col-sm-9">
                  <input type="email"
                         class="form-control"
                         [(ngModel)]="initForm.email"
                         name="email"
                         placeholder="Introducir Email"
                         required
                         >

                  <span class="form-text text-danger"
                      *ngIf="emailValido()">
                      Formato de Email incorrecto. Debe contener @ y .
                  </span>
                  <span class="form-text lh-1 text-black-50 mb-3">nota: Si no posee email, introducir la palabra 'No'</span>
              </div>
          </div>

          <!-- Category Ministerial -->
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label fw-bold">Categoría Ministerial</label>
              <span class="form-text lh-1 text-black-50 mb-3">Ya pueden registrarse como ministros ordenados aquellos que sean ascendidos a dicha categoría en esta conferencia</span>
              <div class="col-sm-9">

                  <div class="form-check">
                      <input class="form-check-input"
                             type="radio"
                             value="1"
                             [(ngModel)]="initForm.categoria"
                             name="radioCategoria"
                             id="radioNacional"
                             required>
                      <label class="form-check-label" for="radioNacional">
                        Nacional
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input"
                             type="radio"
                             value=2
                             [(ngModel)]="initForm.categoria"
                             name="radioCategoria"
                             id="radioLicenciado"
                             required>
                      <label class="form-check-label" for="radioLicenciado">
                        Licenciado
                      </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           value=3
                           [(ngModel)]="initForm.categoria"
                           name="radioCategoria"
                           id="radioOrdenado"
                           required>
                    <label class="form-check-label" for="radioOrdenado">
                      Ordenado
                    </label>
                </div>

              </div>
          </div>

          <!-- Funcion Ministerial -->
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label fw-bold">Función Ministerial</label><div class="col-sm-9">

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           value="1"
                           [(ngModel)]="initForm.funciones"
                           name="radioFuncion"
                           id="radioPastor"
                           required>
                    <label class="form-check-label" for="radioPastor">
                      Pastor
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           value=2
                           [(ngModel)]="initForm.funciones"
                           name="radioFuncion"
                           id="radioMisionero"
                           required>
                    <label class="form-check-label" for="radioMisionero">
                      Misionero
                    </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input"
                         type="radio"
                         value=3
                         [(ngModel)]="initForm.funciones"
                         name="radioFuncion"
                         id="radioEvangelista"
                         required>
                  <label class="form-check-label" for="radioEvangelista">
                    Evangelista
                  </label>
              </div>
              <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value=4
                       [(ngModel)]="initForm.funciones"
                       name="radioFuncion"
                       id="radioMaestro"
                       required>
                <label class="form-check-label" for="radioMaestro">
                  Maestro
                </label>
            </div>
            </div>
        </div>
<hr>
<!-- SELECT DISTRITO -->
<div class="mb-3 row">
  <label class="col-sm-3 col-form-label">Distrito</label>
  <select class="form-select form-select-sm"
          name="distrito" [(ngModel)]="initForm.distrito">
    <option value=null selected>Seleccione su distrito</option>
    <option value="1">Occidente</option>
    <option value="2">Centro Oeste</option>
    <option value="3">Centro Este</option>
    <option value="4">Oriente Norte</option>
    <option value="5">Oriente Sur</option>
  </select>
</div>
<!-- SELECT PROVINCIA -->
<div class="mb-3 row">
  <label class="col-sm-3 col-form-label">Provincia</label>
  <select class="form-select form-select-sm"
          name="provincia" [(ngModel)]="initForm.provincia">
          <option value="" disabled>Seleccione una Provincia</option>
          <option *ngFor="let provincia of provincias|filtrar:initForm.distrito" [ngValue]="provincia.id">
            {{ provincia.nombre }}
          </option>
  </select>
</div>
<!-- SELECT PRESBITERIO -->
<div class="mb-3 row">
  <label class="col-sm-3 col-form-label">Presbiterio</label>
  <select class="form-select form-select-sm"
          name="presbiterio"[(ngModel)]="initForm.presbiterio">
          <option value="" disabled>Seleccione su Presbiterio</option>
          <option *ngFor="let presbiterio of presbiterios|filtrar:initForm.provincia:'provincia'" [ngValue]="presbiterio.id">
            {{ presbiterio.nombre }}
          </option>
  </select>
</div>

            <!-- Campo de Nombre Iglesia-->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Localidad de la Iglesia</label>

              <div class="col-sm-9">
                  <input type="text"
                         class="form-control"
                         [(ngModel)]="initForm.iglesia"
                         name="iglesia"
                         placeholder="Lugar donde radica la Iglesia o Misión"
                         required
                         minlength="3">
              </div>
          </div>

<div>
  <label class="col-sm-3 col-form-label fw-bold">Otra Información</label>
</div>
    <!-- Switches -->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Asistirá el Cónyugue?</label>
      <div class="col-sm-9">

          <div class="form-check form-switch mt-2">
              <input class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="initForm.matrimonio"
                    name="matrimonio"
                    id="flexSwitchCheckChecked1">
              <label class="form-text lh-1 text-black-50 mb-3" for="flexSwitchCheckChecked1">Activar si viene con su cónyugue.</label>
          </div>

      </div>
    </div>
            <!-- Campo de Carnet id Conyugue-->
            <div class="mb-3 row" *ngIf="initForm.matrimonio">
              <label class="col-sm-3 col-form-label">Carnet Identidad Cónyugue</label>

              <div class="col-sm-9">
                  <input type="text"
                         class="form-control"
                         [(ngModel)]="initForm.ci_conyugue"
                         name="ci_conyugue"
                         placeholder="el CI es de 11 dígitos"
                         required
                         minlength="11"
                         maxlength="11"
                         >

                  <span class="form-text text-danger"
                      *ngIf="ciConyugueValido()">
                      Debe introducir un # de identidad de 11 digitos
                  </span>
              </div>
          </div>

          <!-- Switches -->
          <div class="row mb-3">
              <label class="col-sm-3 col-form-label">Tiene Hospedaje?</label>
              <div class="col-sm-9">

                  <div class="form-check form-switch mt-2">
                      <input class="form-check-input"
                             type="checkbox"
                             [(ngModel)]="initForm.hospedaje"
                             name="hospedaje"
                             id="flexSwitchCheckChecked2">
                      <label class="form-text lh-1 text-black-50 mb-3" for="flexSwitchCheckChecked2">Activar si cuenta con hospedaje propio para venir a la conferencia.</label>
                  </div>

              </div>
          </div>

          <!-- Switches
          <div class="row mb-3">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                  <div class="form-check">
                      <input class="form-check-input"
                             type="checkbox"
                             name="terminos"
                             [(ngModel)]="terminosYCondiciones"
                             id="flexCheckDefault"
                             required>
                      <label class="form-check-label" for="flexCheckDefault">
                        Términos y condiciones de uso
                      </label>
                  </div>
              </div>
          </div>-->
          <div class="alert alert-info" role="alert" *ngIf="success">
            <h4 class="alert-heading">Bien!</h4>
            <p>El Ministro ha sido Inscrito Correctamente. Gracias</p>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error">
            <h4 class="alert-heading">ERROR!</h4>
            <p>Algo ha salido mal.<strong> {{errorMesage}}.</strong>
              Revice los datos e inténtelo de nuevo. Si el error persiste espere unos minutos. Gracias</p>
          </div>
          <div class="spinner-border m-5" role="status" *ngIf="isLoading">
            <span class="visually-hidden">Cargando...</span>
          </div>
            <div class="row">
                <div class="col">
                    <button type="submit"
                            [disabled]="miFormulario.invalid"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>
<div class="container m4"><hr></div>
