<div id="main" class="main">

  <h4>Hospedajes</h4>
  <div class="card-body" *ngIf="(user.isAdmin || user.isEjecutivo)">
    <form class="row g-3">
       <div class="col-md-4">
        <select class="form-select form-select-sm"
              name="distrito" [(ngModel)]="distrito" placeholder="Distrito">
        <option value="" selected>Seleccionar todos</option>
        <option value="1">Occidente</option>
        <option value="2">Centro Oeste</option>
        <option value="3">Centro Este</option>
        <option value="4">Oriente Norte</option>
        <option value="5">Oriente Sur</option>
      </select>
      </div>
       <div class="col-md-4">
        <select class="form-select form-select-sm"
              name="provincia" [(ngModel)]="provincia" placeholder="Provincia">
              <option value="">Seleccionar todos</option>
              <option *ngFor="let provincia of provincias|filtrar:distrito" [ngValue]="provincia.id">
                {{ provincia.nombre }}
              </option>
      </select>
      </div>
       <div class="col-md-4">
        <select class="form-select form-select-sm"
              name="presbiterio"[(ngModel)]="presbiterio" placeholder="Presbiterio">
              <option value="">Seleccionar todos</option>
              <option *ngFor="let presbiterio of presbiterios|filtrar:provincia:'provincia'" [ngValue]="presbiterio.id">
                {{ presbiterio.nombre }}
              </option>
      </select>
      </div>
        <div class="row g-2">
         <div class="col-sm-12">
          <input type="search" class="form-control form-control-sm" placeholder="Buscar nombre" [(ngModel)]="buscar" name="search">
        </div>
      </div>
    </form>
 </div>

  <div class="col-lg">
    <div class="card" *ngFor="let inscrito of inscritos|filtrarInscritos:distrito:provincia:presbiterio|buscarNombres:buscar; let even = even; let odd = odd; "
      [ngClass]="{ odd: odd, even: even }">
        <div class="card-body container-fluid">
            <div class="row g-8 bodyTable">
              <li class="nav-heading" style="font-weight: bold;">Matrimonio</li>
              <div class="col-sm-6">
                <div>
                  <span style="text-overflow:clip;">{{inscrito.nombre}}</span>
                </div>
                <div>
                  <span style="text-overflow:clip;">{{inscrito.c_nombre}}</span>
                </div>
              </div>
              <div class="col-sm-2">
                <div>
                  <span >{{inscrito.celular}}</span>
                </div>
                <div>
                  <span>{{inscrito.c_celular}}</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div>
                    <span>{{inscrito.email}}</span>
                </div>
                <div>
                  <span>{{inscrito.c_email}}</span>
              </div>
              </div>
              <li class="nav-heading" style="font-weight: bold;">Localidad</li>
              <div class="col-sm-4">
                <div>
                  <span>{{inscrito.distrito}}</span>
                </div>
                <div>
                  <span>{{inscrito.provincia}}</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div>
                  <span>{{inscrito.presbiterio}}</span>
                <div>
                  <hr style="margin: 0px;">
                  <span style="text-overflow:clip;"><strong>reserva: </strong>{{inscrito.hospedajeId}}</span>
                </div>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="row-sm-4">
                  <button class="btn btn-secondary btn-sm" type="button" (click)="updateHospedajes(inscrito)">Asignar</button>
                  <button class="btn btn-danger btn-sm" type="button" style="margin-left: 5px;" (click)="quitarHospedajes(inscrito)"><i class="fa fa-trash" aria-hidden="true">Quitar</i></button>
                </div>
                <!-- <div>
                </div> -->
              </div>
            </div>

            <!-- <h6 class="card-title">Default Card</h6>
            <div class="col-sm-2">
              <span>{{inscrito.nombre}}</span>
            </div>
            <div class="col-sm-2">
              <span>{{inscrito.c_nombre}}</span>
             </div>

          <div class="row-sm-4">
            <h6 class="card-title">Distrito</h6>
            <div class="col-sm">
              {{inscrito.distrito}}
            </div>
            <div class="col-sm">
              {{inscrito.presbiterio}}
             </div>
          </div> -->

          </div>
     </div>

  </div>
  <!-- <div class="table-responsive">
  <table class="table bodyTable table-hover">
  <thead class="headTable">
    <tr >
      <th scope="col">accion</th>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Sex</th>
      <th scope="col">CI</th>
      <th scope="col">Celular</th>
      <th scope="col">Email</th>
      <th scope="col">Categoria</th>
      <th scope="col">Función</th>
      <th scope="col">Distrito</th>
      <th scope="col">Provincia</th>
      <th scope="col">Presbiterio</th>
      <th scope="col">hospedaje</th>
      <th scope="col">Confirmado</th>
    </tr>
    </thead>
    <div class="spinner-border m-5" role="status" *ngIf="isLoading">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <tbody>
      <div class="card" *ngFor="let inscrito of inscritos|filtrarInscritos:distrito:provincia:presbiterio|buscarNombres:buscar; let even = even; let odd = odd; "
      [ngClass]="{ odd: odd, even: even }">
        <div class="card-body">
           <h5 class="card-title">Default Card</h5>
           {{inscrito.nombre}}
           {{inscrito.c_nombre}}
          </div>
     </div>
      <tr *ngFor="let inscrito of inscritos|filtrarInscritos:distrito:provincia:presbiterio|buscarNombres:buscar; let even = even; let odd = odd; "
      [ngClass]="{ odd: odd, even: even }">
        <td>

          <div class="dropdown">
            <button class="btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li style="cursor:pointer;"><a class="dropdown-item" >Cancelar Inscripción</a></li>
              <li style="cursor:pointer;"><a class="dropdown-item" href="#">Editar información</a></li>

            </ul>
          </div>

        </td>
        <td>{{inscrito.fecha | date:'d/M/yy'}}</td>
        <td>{{inscrito.nombre}}</td>
        <td>{{inscrito.genero}}</td>
        <td>{{inscrito.ci}}</td>
        <td>{{inscrito.celular}}</td>
        <td>{{inscrito.email}}</td>
        <td>{{inscrito.categoria}}</td>
        <td>{{inscrito.funcion}}</td>
        <td>{{inscrito.distrito}}</td>
        <td>{{inscrito.provincia}}</td>
        <td>{{inscrito.presbiterio}}</td>
        <td>{{inscrito.hospedajeId}}</td>
        <td>{{inscrito.isConfirmado | boolean}}</td>
      </tr>
    </tbody>
  </table>
</div>-->
<div>
  <div class="alert alert-secondary alert-dismissible fade show" role="alert"> Total de Inscripciones: {{inscritos.length}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
</div>
</div>
